@media (max-width: 375px) and (min-width: 361px){

    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  
    .main-section h1 {
     
      font-size: 30px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
      left: -5px;
      bottom: 20px;
      
    }
  
    .wrapper .logo h1{
      font-size: 20px;
      position: relative;
      bottom: -15px ;
      right: -20px;
      margin: 0;
      padding: 0;
    }
  
   .controls .play-btn{
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-right: -14px;
        height: 45px;
        width: 50px;
        
    }
    body .wrapper .main-section{
      height: 100%;
      position:absolute;
      bottom: 100px;
    }
  
   .main-section .hero{
    position: absolute;
    bottom:400px;
    left: 45px;
    overflow: visible;
  }
  
  .hero ul li{
  float: right;
  right: 13px;
  bottom: 25px;
  position: relative;
  
  }
  .hero ul li a{
  
    font-size: 20px
  }
  .hero ul{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
  }
  
  }
  
  @media (min-width: 414px) and (max-width: 440px){
  
    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  
    .main-section h1 {
     
      font-size: 30px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
      right: px;
      font-size:35px;
      
    }
  
    .wrapper .logo h1{
      font-size: 20px;
      position: relative;
      bottom: -15px ;
      right: -20px;
      margin: 0;
      padding: 0;
    }
  
   .controls .play-btn{
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-right: -14px;
        height: 55px;
        width: 65px;
        
    }
    body .wrapper .main-section{
  
      height: 100%;
      position:absolute;
      bottom: 1px;
      justify-content: center;
      align-items: center;
    }
  
   .main-section .hero{
    position: absolute;
    bottom:400px;
    left: 45px;
    overflow: visible;
  }
  
  .hero ul li{
  float: right;
  right: 13px;
  position: relative;
  
  }
  .hero ul li a{
  
    font-size: 27px
  }
  .hero ul{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
  }
  }
  
  
  @media (min-width: 390px) and (max-width: 400px){
  
    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  
    .main-section h1 {
     
      font-size: 30px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
      right: 7px;
      font-size:35px;
      
    }
  
    .wrapper .logo h1{
      font-size: 20px;
      position: relative;
      bottom: -15px ;
      right: -20px;
      margin: 0;
      padding: 0;
    }
  
   .controls .play-btn{
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-right: -14px;
        height: 55px;
        width: 65px;
        
    }
    body .wrapper .main-section{
  
      
      height: 100%;
      position:absolute;
      bottom: 10px;
      right: 5px;
    }
  
   .main-section .hero{
    position: absolute;
    bottom:450px;
    left: 39px;
    overflow: visible;
  }
  
  .hero ul li{
  float: right;
  right: 15px;
  position: relative;
  
  }
  .hero ul li a{
  
    font-size: 25px
  }
  .hero ul{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
  }
  }
  
  
  
  
  @media (min-width: 820px) and (max-width: 840px){
  
    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  
    .main-section h1 {
     
      font-size: 30px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
      right: 7px;
      font-size:50px;
      
    }
  
    .wrapper .logo h1{
      font-size: 30px;
      position: relative;
      bottom: -20px ;
      right: -25px;
      margin: 0;
      padding: 0;
    }
    .controls{
      position: absolute;
      top: 200px;
      padding-right: 50px;
    }
  
   .controls .play-btn{
  
    justify-content: center;
    align-items: center;
    object-fit: contain;
    bottom: 50px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-right: -14px;
        height: 60px;
        width: 70px;
        
    }
    body .wrapper .main-section{
      height: 100%;
      position:absolute;
      top: 150px;
    }
  
   .main-section .hero{
    position: absolute;
    bottom:400px;
    left: 45px;
    overflow: visible;
  }
  
  .hero ul li{
  float: right;
  right: 37px;
  position: relative;
  
  }
  .hero ul li a{
  
    font-size:40px
  }
  .hero ul{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
  }
  }
  
  @media (min-width: 360px) and (max-width: 370px){
  
    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  
    .main-section h1 {
     
      font-size: 30px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
      right: 5px;
      font-size:35px;
      
    }
  
    .wrapper .logo h1{
      font-size: 20px;
      position: relative;
      bottom: -15px ;
      right: -20px;
      margin: 0;
      padding: 0;
    }
  
   .controls .play-btn{
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-right: -14px;
        height: 55px;
        width: 65px;
        
    }
    body .wrapper .main-section{
      height: 100%;
      position:absolute;
      bottom: 30px;
    }
  
   .main-section .hero{
    position: absolute;
    bottom:470px;
    left: 20px;
    overflow: visible;
  }
  
  .hero ul li{
  float: right;
  right: 15px;
  position: relative;
  
  }
  .hero ul li a{
  
    font-size: 25px
  }
  .hero ul{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
  }
  }
  
  @media (min-width: 412px) and (max-width: 500px){
  
    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  
    .main-section h1 {
     
      font-size: 30px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
      right: 7px;
      font-size:35px;
      
    }
  
    .wrapper .logo h1{
      font-size: 20px;
      position: relative;
      bottom: -15px ;
      right: -20px;
      margin: 0;
      padding: 0;
    }
  
   .controls .play-btn{
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-right: -14px;
        height: 55px;
        width: 65px;
        
    }
    body .wrapper .main-section{
      height: 100%;
      position:absolute;
      bottom: 10px;
    }
  
   .main-section .hero{
    position: absolute;
    bottom:450px;
    left: 39px;
    overflow: visible;
  }
  
  .hero ul li{
  float: right;
  right: 15px;
  position: relative;
  
  }
  .hero ul li a{
  
    font-size: 25px
  }
  .hero ul{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
  }
  }
  
  @media (min-width: 820px) and (max-width: 840px){
  
    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  
    .main-section h1 {
     
      font-size: 30px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
      right: 7px;
      font-size:55px;
      
    }
  
    .wrapper .logo h1{
      font-size: 35px;
      position: relative;
      bottom: -15px;
      right: -20px;
      margin: 0;
      padding: 0;
    }
  
   .controls .play-btn{
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-right: -14px;
        height: 70px;
        width: 80px;
        
    }
    body .wrapper .main-section{
      height: 100%;
      position:absolute;
      bottom: 10px;
    }
  
   .main-section .hero{
    position: absolute;
    bottom:450px;
    left: 39px;
    overflow: visible;
  }
  
  .hero ul li{
  float: right;
  right: 45px;
  position: relative;
  
  }
  .hero ul li a{
  font-size: 45px
  }
  .hero ul{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
  }
  }
  
  @media (min-width: 768px) and (max-width: 819px){
  
    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  
    .main-section h1 {
     
      font-size: 30px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
      right: 7px;
      font-size:55px;
      
    }
  
    .wrapper .logo h1{
      font-size: 35px;
      position: relative;
      bottom: -15px;
      right: -20px;
      margin: 0;
      padding: 0;
    }
  
   .controls .play-btn{
        padding-bottom: 20px;
        margin-bottom: 14px;
        margin-right: -14px;
        height: 70px;
        width: 80px;
        top: 58rem;
        
        
    }
    body .wrapper .main-section{
      height: 100%;
      position:absolute;
      bottom: -50px;
    }
  
   .main-section .hero{
    position: absolute;
    bottom:450px;
    left: 39px;
    overflow: visible;
  }
  
  .hero ul li{
  float: right;
  right: 45px;
  position: relative;
  
  }
  .hero ul li a{
  font-size: 45px
  }
  .hero ul{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
  }
  }
  
  @media (min-width: 912px) and (max-width: 980px) {
  
    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  
    .wrapper .main-section h1 {
     
      font-size: 70px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
      right: 7px;
      top: 50px;
          
    }
  
    .wrapper .logo h1{
      font-size: 35px;
      position: relative;
      bottom: -25px;
      right: -25px;
      margin: 0;
      padding: 0;
    }
  
   .controls .play-btn{
        padding-bottom: 20px;
        margin-bottom: 14px;
        margin-right: -14px;
        height: 80px;
        width: 90px;
        top: 66rem;
        
        
    }
    body .wrapper .main-section{
      height: 100%;
      position:absolute;
      bottom: -50px;
    }
  
   .main-section .hero{
    position: absolute;
    bottom:45px;
    left: 39px;
    overflow: visible;
  }
  
  .hero ul li{
  float: right;
  right: 62px;
  top: 50px;
  position: relative;
  
  }
  .hero ul li a{
  font-size: 56px
  }
  .hero ul{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
  }
  }
  
  @media (min-width: 540px) and (max-width: 600px) {
  
    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  
    .wrapper .main-section h1 {
     
      font-size: 35px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
      right: 7px;
      top: 50px;
          
    }
  
    .wrapper .logo h1{
      font-size: 30px;
      position: relative;
      bottom: -25px;
      right: -25px;
      margin: 0;
      padding: 0;
    }
  
   .controls .play-btn{
        padding-bottom: 20px;
        margin-bottom: 14px;
        margin-right: -14px;
        height: 60px;
        width: 50px;
        top: 66rem;
        
        
    }
    body .wrapper .main-section{
      height: 100%;
      position:absolute;
      bottom: 8rem;
    }
  
   .main-section .hero{
    position: absolute;
    bottom:45px;
    left: 39px;
    overflow: visible;
  }
  
  .hero ul li{
  float: right;
  right: 16px;
  top: 40px;
  position: relative;
  
  }
  .hero ul li a{
  font-size: 25px
  }
  .hero ul{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
  }
  }
  
  @media (min-width: 280px) and (max-width: 300px) {
  
    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  
    .wrapper .main-section h1 {
     
      font-size: 20px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
      right: 15px;
      top: 50px;
          
    }
  
    .wrapper .logo h1{
      font-size: 20px;
      position: relative;
      bottom: -25px;
      right: -25px;
      margin: 0;
      padding: 0;
    }
  
   .controls .play-btn{
        padding-bottom: 20px;
        margin-bottom: 14px;
        margin-right: -20px;
        height: 50px;
        width: 39px;
        top: 66rem;
        
        
    }
    body .wrapper .main-section{
      height: 100%;
      position:absolute;
      bottom: 8rem;
    }
  
   .main-section .hero{
    position: absolute;
    bottom:45px;
    left: px;
    overflow: visible;
  }
  
  .hero ul li{
  float: right;
  right: px;
  top: 40px;
  position: relative;
  
  }
  .hero ul li a{
  font-size: 15px;
  
  
  }
  .hero ul{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
  }
  }
  
  
   @media (min-width: 1024px) and (max-width: 1028px) {
  
    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    
    }
  
    .wrapper .main-section h1 {
     
      font-size: 50px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      position: fixed;
      right: 30rem;
      top:20rem;
    
  
          
    }
  
    .wrapper .logo h1{
      font-size: 30px;
      position: relative;
      bottom: -25px;
      right: -25px;
      margin: 0;
      padding: 0;
      
    }
  
    .controls{
     position: sticky;
  
    }
  
    body .wrapper .main-section{
      height: 100%;
      position:relative;
    
      
    }
  
   .main-section .hero{
   display:block;
    position:fixed;
    bottom:80px;
    left: 39px;
    overflow: visible;
  }
  .hero ul{
    display: flex;
  }
  .hero ul li{
  float: right;
  left: 76px;
  top: -50px;
  
  
  }
  .hero ul li a{
  font-size: 35px;
  
  }
  .hero ul{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
    position: relative;
  }
  }
  
  
  @media (min-width: 1280px) and (max-width: 1290px) {
  
    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  
    .main-section .hero{
      position: fixed;
      top: 20rem;
    }
    .controls{
    
  position: inherit;
    }
    .controls .play-btn{
      
      height: 90px;
  
    }
  }
  
  