
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
}

body{
    background: url('images/img1.JPG') no-repeat center center fixed;
    background-size:cover;
    overflow: hidden;

  
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    padding-right: 8%;
    padding-left: 8%;
    position: fixed;
    padding: 50px;
    
    
}

.main-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0;
    padding: 0;
   
}


.logo {
    color: white;
    font-size: 30px;
    size: 35px;
    padding: 0;
    overflow: visible;
    display: flex;
    position: sticky;
    width: 100%;
    height:100%;
   
}
.logo h1{
    font-size: 35px;
    position: relative;
    bottom: 10px;
    overflow: visible;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(79, 161, 28);
    text-shadow: 1px 5px 30px #d4fcd2;
    color: rgb(255, 255, 255);
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease;
}


@keyframes color {
  to {
    color: rgb(245, 255, 243);
    }
}

.main-section ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    align-items: center;
    justify-content: center;

}
.main-section ul{
    position: relative;
    left: -5px;
}
.main-section ul li a{
    text-decoration: none;
    
    font-size: 35px;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    
}


.main-section ul li a i{
        transition: font-size .3s;
}
.main-section ul li a:hover{
    color: red;
    transform: translateY(-2px);
    font-size: 45px;
    transition: .1s ease-in-out;  
   
}

h1{
    color: white;
    letter-spacing: 8px;
    font-size: 45px;
    text-align: right;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease;
}
h1, .logo, a{
   -webkit-text-stroke: .4px rgb(151, 247, 130);
  
}
h1, .logo{
    transition: .5s ease-in
}
.hero{
 position: absolute;
 justify-content: center;
 align-items: center;
 top: 423px;
 width: 0 auto;
}


.controls{
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    padding-right: 40px;
    align-items: center;
    margin-right: 100px;
  }

  
  .play-btn{
    width: 70px;
    height: 60px;
    border-radius: 50%;
    background: #d5eebb;
    cursor: pointer;
    border: none;
    display: flex;
    position: sticky;
    top: 55rem;
    left: 113rem;
   
  }
  .play-btn span{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background: black;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .play-btn span:nth-child(2){
    left: 55%;
    transform-origin: center;
  }
  
  .play-btn.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
  }
  
  .play-btn.pause span:nth-child(1){
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
  }
  .play-btn.play{
    animation: pulse 3s linear infinite;
  }

  .play-btn.pause{
    animation: pulse 3s linear infinite;
  }
  
  @keyframes pulse{
    0%{
      box-shadow: 0;
    }
    50%{
      box-shadow: 0 0 0 10px rgba(255, 255, 255, .08);
    }
    100%{
      box-shadow: 0 0 0 10px rgba(255,255, 255, .6);
    }
  }
  
  


